html, body {
  margin-left: 100px;
  padding-right: 200px;
  background: slategray;
  max-width: 1500px;
  
}



canvas {
  display: block;
}

.palavra{

  color: darkblue;
   width: 500px;

 margin-left: 10px;
  border-bottom: solid 2px rgb(42, 122, 228);
  padding-left: 20px ;
  
}


